<form action="/cart" method="POST" class="inline">
  <button class="btn-action" type="submit">Add to cart</button>
  <input type="hidden" name="productId" value="<%= product._id || product.id %>">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>