<%- include('includes/page-start.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  
  <main>
    <h2>Requested route is not available</h2>
  </main>

<%- include('includes/page-end.ejs') %>
