.add-product-form {
  margin: 0 auto;
  width: 80%;
}
.form-control {
  margin: 20px 0;
}
.form-control label { 
  display: inline-block;
  width: 100px; 
}
.form-control input,
.form-control input, { }

.add-product-form button {
  cursor: pointer;
}