main.products {
  display: flex;
  padding: 10px;
}

.card {
  box-shadow: 0 0 10px #bfbfbf;
}
.card .card-header {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.card .card-banner img {
  display: block;
  margin: 10px auto;
}
.card .card-content {
  text-align: center;
  padding: 10px;
}
.card .card-footer {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.card.product-item {
  flex: 1;
  margin: 10px;
}
.card.product-item .product-title{
  margin: 5px 0;
}
.card.product-item .card-footer {
  text-align: center;
}
