<%- include('../includes/page-start.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <h2>Nothing there!</h2>
  </main>

<%- include('../includes/page-end.ejs') %>
